/*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

body {
  font-family: "Open Sans Light", sans-serif;
}

label {
  font-size: 1.25em;
  line-height: 1.8em ;
}

input {
  margin: 0.5em;
}

.invalid {
  background-color: rgb(233, 104, 104);
}

.hbox {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#idx {
  display: inline-block;
}

#currentFolder {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.buttons {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
